<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AzureNuget" value="https://pkgs.dev.azure.com/CIGL-Knits/_packaging/CIGL-Knits/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AzureNuget>
      <!-- PAT作为密码 -->
      <add key="Username" value="az" />
      <add key="ClearTextPassword" value="751xPp89ehiaRy5YTgrhmcPBTsyMlc480zhOSrvihTAfpB3uGpFQJQQJ99BFACAAAAAsFC8RAAASAZDOP7uN" />
    </AzureNuget>
  </packageSourceCredentials>
</configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
	  <add key="AzureNuget" value="https://pkgs.dev.azure.com/CIGL-Knits/_packaging/CIGL-Knits/nuget/v3/index.json" />
	</packageSources>
</configuration>-->