<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="NlogRecords.log">
	<!--Nlog内部日志记录为Off关闭。除非纠错，不可以设为Trace否则速度很慢，起码Debug以上-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<!--Nlog内部日志记录文本文件中-->
		<target name="log_file" xsi:type="File" fileName="${event-properties:item=path}/logs/${event-properties:item=userId}-${event-properties:item=dateTime}.log"
			keepFileOpen="false"
			openFileCacheTimeout="10"
			layout="${event-properties:item=message}"/>
		</targets>
	<rules>
		<!--跳过所有级别的Microsoft组件的日志记录-->
		<logger name="Microsoft.*" final="true" />
		<!-- BlackHole without writeTo -->
		<!--只通过数据库记录日志，如果给了name名字，cs里用日志记录的时候，取logger需要把name当做参数-->
		<!--<logger name="logdb" writeTo="log_database" />-->
		<logger name="logfile" writeTo="log_file" />
	</rules>
</nlog>